body {
  --primary: hsl(230, 100%, 6%);
  --secondary: hsl(230, 100%, 96%);
  --on-primary: hsl(231, 100%, 67%);
  --border-primary: hsl(230, 100%, 90%);
  --input-fg: #e0e0e1;
  --input-bg: #222;
  --input-bg-in-secondary: hsl(230, 100%, 50%);
  --menu-bg: hsl(230, 93%, 38%);
  --fg: hsl(230, 100%, 90%);
  --bg: hsl(230, 100%, 20%);
  --bg-secondary: hsl(230, 100%, 40%);

  --is-dark: 1;
}
